/*main body*/
body {
  margin: 8%;
  margin-top: 3%;
}

.blocks {
  margin: 1%;
}
/**/
/*top nav bar*/
/**/
nav { 
  border: .18em solid black;
  background-color: #FFB4B0;
  padding: .18em;
  margin-bottom: 4em;
}

nav li {
  display: inline-block;
  border-right: .18em solid black;
  padding: 0 .25em;
}

nav li:last-of-type {
  border: none;
}

.selected { 
text-decoration: none;
color: black;
}

/**/
/*left song options*/
/**/
.songInfo {
  background-color: #4DD7FA;
  border: .18em solid black;
  float: left;
  padding: 1.5%;
  line-height: 1.75;
  width: 14%;
  height: 65%;
  min-width: 8.75em;
}

/*length slider*/
.range {
  max-width: 95%;
}

/*pulldowns*/
select { 
  display: block;
  width: 95%;
}

/*checkboxes*/
.cbox {
  display: block;
  float: left;
  margin-bottom: 1.2em;
}

/*filter button*/
.filter{
  color: black;
  margin: 1em;
  margin-top: 4.4em;
  border: .18em solid black;
  background-color: lightgrey;
  border-radius: .4em;
  text-decoration: none;
  text-align: center; 
  display: block;
}

/**/
/*right song display*/
/**/
#nowPlaying {
  background-color: #FEFAC0;
  float: right;
  border: .18em solid black;
  width: 69%;
  padding: 3%;
  height: 22.2em;
}

#nowPlaying h2 {
  color: #785616;
}

#nowPlaying li { 
  display: inline-block;
  border-right: .18em solid black;
  padding: 0 .25em;
}

#nowPlaying li:last-of-type {
  border: none;
}
/**/
/*add song view*/
/**/

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
}

#addView {
  text-align: center;
  margin: 0 auto;
  display: none;
}



